<!DOCTYPE html>
<html >

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Smart Bicycle</title>
  <link rel="shortcut icon" href="/img/logo_title.png" />
  <link rel="stylesheet" href="/css/login-page.css">
  


  
</head>

<body>

  
  
  <main id="main-holder">
    
    <div class="imgcontainer">
      <img src="/img/logo1 copy.png" alt="logo" class="logo" >
      
    </div>
   
    <% if (locals.success && success !="") {%>

      <div style="color: green;border:green solid 1px;background-color: #a8eed3;font-weight: bold;">
          <%=success%>
      </div>
      <%}%>

    <% if (locals.error && error !="") {%>

        <div style="color: #8a0000;border: #8a0000 solid 1px;background-color: #e58f8f;font-weight: bold;">
            <%=error%>
        </div>
        <%}%>
   
    <form id="login-form" method="post">
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit"> <br/><div> <a href="/user/signup"> for sign up  </a> &nbsp  or &nbsp <a href="/user/login2"> manger login   </a></div>
    </form>


  
  </main>
</body>

</html>

  