<!DOCTYPE html>
<html> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
  <title>Smart Bicycle</title>
  <link rel="shortcut icon" href="/img/logo_title.png" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeQ6TIIFkgS94pT3xWbwCQGTqCwxlHMQo"defer></script>
 
          <script defer src="/js/map_search.js"  ></script>
          <link rel="stylesheet" href="/css/main.css">
          <script defer src="/js/logout.js"></script>
          <script src="/axios/dist/axios.min.js"> </script>
        

         

</head> 

<header>
    <a href="/home/main"><img src="/img/logo copy.png" alt="logo"></a>
   
    <div>
    <a href="/home/main"><img src="/img/home.png" alt="Home"></a>
    <a href="/search/manger"><img src="/img/search.png" alt="Search"></a>   &nbsp
    <a href="/manage/manger"><img src="/img/manage.png" alt="Manage"></a> &nbsp
    <a ><img src="/img/log out.png" id="logout"></a>
   
    </div>

   

<a href=""><img src="/img/manger.png" alt="manager"> </a>
</header>


<body>
  
  

  


    <div id="mapm" >  </div>
    
    <div id="se" >
    <label for="search "style =" text-align:center; "> Bicycle number : </label> <input type="text" name="search" id="ser"  > <input type="submit" value="search" id="ser1"  > <br/>
    


<label for="find " id = "find" style="color: red; margin-left:200px; ">  </label>
    
</div>

           


</body>




<footer>

    
    <div >
        <a style="color: white;" href="/term_privacy/term">Terms of Use   </a>  <a > &nbsp | &nbsp </a>  <a href="/term_privacy/privacy" >    Privacy Policy</a> 
       
    </div>
    <p>© 2021 Smart Bicycle - All Right reserved</p>
    <div>
    <a href=""><img src="/img/App store.png" alt="appstore"></a>
    <a href=""><img src="/img/google store.png" alt="googlestore"></a>
    </div>
    <div>
    <a href="https://www.facebook.com/profile.php?id=100073329443653"><img src="/img/facebook.png" alt="facebook"></a>
    <a href="https://twitter.com/smart_bicycles_"><img src="/img/tweter.png" alt="twetter"></a>
    <a href="https://instagram.com/smart.bicycle_?utm_medium=copy_link"><img src="/img/inst.png" alt="inst"></a>
</div>
</div>

</footer>

</html>