<!DOCTYPE html>
<html>

<head>
	<title>Smart Bot</title>
	<link rel="icon" href="/img/bot-mini.png" />
	<link rel="stylesheet" href="/css/stylebot.css" />
	<script type="text/javascript" src="/js/index.js" defer></script>
<script type="text/javascript" src="/js/constants.js" defer></script>

</head>

<body>
	<div id="container1" class="container1">

		<div id="chat" class="chat">

		  <div id="messages" class="messages"></div>

		  <input id="input" type="text" placeholder="Say something..." autocomplete="off" autofocus="true" />
		</div>
	  </div>
		
</body>


</html>